<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Thorn</string>
		<string>R</string>
		<string>S</string>
		<string>Scaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Adieresis.ou</string>
		<string>Odieresis.ou</string>
		<string>Udieresis.ou</string>
		<string>d</string>
		<string>eth</string>
		<string>germandbls</string>
		<string>a.sc</string>
		<string>b.sc</string>
		<string>c.sc</string>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>e.sc</string>
		<string>h.sc</string>
		<string>i.sc</string>
		<string>j.sc</string>
		<string>k.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>o.sc</string>
		<string>r.sc</string>
		<string>s.sc</string>
		<string>u.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>x.sc</string>
		<string>z.sc</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>f.sc</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
		<string>l.sc</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>p.sc</string>
	</array>
	<key>public.kern1.Q</key>
	<array>
		<string>Q</string>
		<string>q.sc</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>t.sc</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>y.sc</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>adieresis</string>
		<string>adieresis.ou</string>
		<string>a.single</string>
		<string>adieresis.single</string>
		<string>adieresis.single.ou</string>
		<string>adieresis.sc</string>
	</array>
	<key>public.kern1.aa</key>
	<array>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>aacute.single</string>
		<string>acircumflex.single</string>
		<string>agrave.single</string>
		<string>aring.single</string>
		<string>atilde.single</string>
		<string>aacute.sc</string>
		<string>acircumflex.sc</string>
		<string>agrave.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
	</array>
	<key>public.kern1.cc</key>
	<array>
		<string>ccedilla</string>
		<string>ccedilla.sc</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>oe</string>
		<string>oe.sc</string>
	</array>
	<key>public.kern1.ee</key>
	<array>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>eacute.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>egrave.sc</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>q</string>
		<string>y</string>
		<string>g.double</string>
	</array>
	<key>public.kern1.gg</key>
	<array>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>yacute.sc</string>
		<string>ydieresis.sc</string>
	</array>
	<key>public.kern1.h</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>j</string>
	</array>
	<key>public.kern1.ii</key>
	<array>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>iacute.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>igrave.sc</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
		<string>l.straight</string>
	</array>
	<key>public.kern1.ll</key>
	<array>
		<string>lslash</string>
		<string>lslash.straight</string>
		<string>lslash.sc</string>
	</array>
	<key>public.kern1.nn</key>
	<array>
		<string>ntilde</string>
		<string>ntilde.sc</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>c</string>
		<string>o</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.oo</key>
	<array>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>odieresis.ou</string>
		<string>oacute.sc</string>
		<string>ocircumflex.sc</string>
		<string>odieresis.sc</string>
		<string>ograve.sc</string>
		<string>otilde.sc</string>
	</array>
	<key>public.kern1.ooo</key>
	<array>
		<string>oslash</string>
		<string>oslash.sc</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern1.ss</key>
	<array>
		<string>scaron</string>
		<string>scaron.sc</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern1.uu</key>
	<array>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>udieresis.ou</string>
		<string>uacute.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>ugrave.sc</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>z</string>
	</array>
	<key>public.kern1.zz</key>
	<array>
		<string>zcaron</string>
		<string>zcaron.sc</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>a.sc</string>
		<string>b.sc</string>
		<string>c.sc</string>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>e.sc</string>
		<string>f.sc</string>
		<string>h.sc</string>
		<string>i.sc</string>
		<string>k.sc</string>
		<string>l.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>o.sc</string>
		<string>p.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>s.sc</string>
		<string>u.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>x.sc</string>
		<string>z.sc</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>j.sc</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>t.sc</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>y.sc</string>
	</array>
	<key>public.kern2.aa</key>
	<array>
		<string>aacute.sc</string>
		<string>acircumflex.sc</string>
		<string>agrave.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
	</array>
	<key>public.kern2.ee</key>
	<array>
		<string>eacute.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>egrave.sc</string>
	</array>
	<key>public.kern2.ii</key>
	<array>
		<string>iacute.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>igrave.sc</string>
	</array>
	<key>public.kern2.ll</key>
	<array>
		<string>lslash.sc</string>
	</array>
	<key>public.kern2.nn</key>
	<array>
		<string>ntilde.sc</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>ccedilla.sc</string>
		<string>oe.sc</string>
	</array>
	<key>public.kern2.oo</key>
	<array>
		<string>oacute.sc</string>
		<string>ocircumflex.sc</string>
		<string>odieresis.sc</string>
		<string>ograve.sc</string>
		<string>otilde.sc</string>
	</array>
	<key>public.kern2.ooo</key>
	<array>
		<string>oslash.sc</string>
	</array>
	<key>public.kern2.pun</key>
	<array>
		<string>comma</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>scaron.sc</string>
	</array>
	<key>public.kern2.uu</key>
	<array>
		<string>uacute.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>ugrave.sc</string>
		<string>yacute.sc</string>
		<string>ydieresis.sc</string>
	</array>
	<key>public.kern2.zz</key>
	<array>
		<string>zcaron.sc</string>
	</array>
</dict>
</plist>
