<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1200</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright © C₂₉H₂₅N₃O₅. Licenced under CC BY 4.0 Licence.</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>CHNO Pixel Code Pro</string>
	<key>openTypeHeadCreated</key>
	<string>2021/07/13 05:39:24</string>
	<key>openTypeHheaAscender</key>
	<integer>1100</integer>
	<key>openTypeHheaDescender</key>
	<integer>-200</integer>
	<key>openTypeHheaLineGap</key>
	<integer>100</integer>
	<key>openTypeNameDesigner</key>
	<string>C₂₉H₂₅N₃O₅</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameRecords</key>
	<array>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1026</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Жълтата дюля беше щастлива, че пухът, който цъфна, замръзна като гьон.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1039</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Kæmi ný öxi hér ykist þjófum nú bæði víl og ádrepa.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1030</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Quizdeltagerne spiste jordbær med fløde, mens cirkusklovnen Walther spillede på xylofon.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1031</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Victor jagt zwölf Boxkämpfer quer über den großen Sylter Deich.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1036</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Louÿs rêva de crapaüter en canoë au delà des îles.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1035</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Törkylempijä vongahdus.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1043</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Pa's wijze lynx bezag vroom het fikse aquaduct.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1027</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Jove xef, porti whisky amb quinze glaçons d'hidrogen, coi!</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1063</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Įlinkdama fechtuotojo špaga sublykčiojusi pragręžė apvalų arbūzą.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1048</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Gheorghe, obezul, a reuşit să obţină jucându-se un flux în Quebec de o mie kilowaţioră.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1044</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Høvdingens kjære squaw får litt pizza i Mexico by.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>2070</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Luís argüia à Júlia que «brações, fé, chá, óxido, pôr, zângão» eram palavras do português.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1053</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Flygande bäckasiner söka hwila på mjuka tuvor.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1060</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Piškur molče grabi fižol z dna cezijeve hoste.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>3082</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>El pingüino Wenceslao hizo kilómetros bajo exhaustiva lluvia y frío, añoraba a su querido cachorro.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1032</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Ξεσκεπάζω την ψυχοφθόρα βδελυγμία.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1040</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Quel vituperabile xenofobo zelante assaggia il whisky ed esclama: alleluja!</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1055</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Hızlı kahverengi tilki tembel bir köpeğin üzerinden atlar.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1086</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Rubah coklat cepat melompat ke atas anjing yang malas.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1066</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Con cáo nâu nhanh nhẹn nhảy qua một con chó lười biếng.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1058</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Швидка коричнева лисиця стрибає через ледачого собаку.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1029</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Rychlá hnědá liška skáče přes líného psa.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1061</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Kiire pruun rebane hüppab üle laisa koera.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>850</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Түргэн хүрэн үнэг залхуу нохой дээгүүр харайна.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1051</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>Rýchla hnedá líška preskočí lenivého psa.</string>
		</dict>
		<dict>
			<key>encodingID</key>
			<integer>1</integer>
			<key>languageID</key>
			<integer>1033</integer>
			<key>nameID</key>
			<integer>19</integer>
			<key>platformID</key>
			<integer>3</integer>
			<key>string</key>
			<string>The quick brown fox jumps over a lazy dog.</string>
		</dict>
	</array>
	<key>openTypeNameSampleText</key>
	<string>The quick brown fox jumps over a lazy dog.</string>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>350</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>1100</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>100</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1100</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>200</integer>
	<key>postscriptBlueValues</key>
	<array>
		<real>-16.0</real>
		<real>0.0</real>
		<real>500.0</real>
		<real>516.0</real>
		<real>700.0</real>
		<real>716.0</real>
		<real>1200.0</real>
		<real>1216.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>CHNOPixelCodePro-Regular</string>
	<key>postscriptIsFixedPitch</key>
	<true/>
	<key>postscriptOtherBlues</key>
	<array>
		<real>-216.0</real>
		<real>-200.0</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-350</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>100</integer>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
